<p id="notice"><%= notice %></p>

<h1>Nearest Stations</h1>

<table>
  <thead>
    <tr>
      <th>Train</th>
      <th>Station</th>
      <th>Walking time</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nearest_stations.each do |nearest_station| %>
      <tr>
        <td><%= nearest_station.train %></td>
        <td><%= nearest_station.station %></td>
        <td><%= nearest_station.walking_time %></td>
        <td><%= nearest_station.property_id %></td>
        <td><%= link_to 'Show', nearest_station %></td>
        <td><%= link_to 'Edit', edit_nearest_station_path(nearest_station) %></td>
        <td><%= link_to 'Destroy', nearest_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nearest Station', new_nearest_station_path %>
