<p id="notice"><%= notice %></p>

<p>
  <strong>Train:</strong>
  <%= @nearest_station.train %>
</p>

<p>
  <strong>Station:</strong>
  <%= @nearest_station.station %>
</p>

<p>
  <strong>Walking time:</strong>
  <%= @nearest_station.walking_time %>
</p>

<p>
  <strong>Property:</strong>
  <%= @nearest_station.property_id %>
</p>

<%= link_to 'Edit', edit_nearest_station_path(@nearest_station) %> |
<%= link_to 'Back', nearest_stations_path %>
